<div class="ask-content"
     *ngIf="ask && ask.id !== lastPollId && ask.state !== 'Done' && quiz$ | async as quiz; else loading">
  <div class="title">Question {{quiz.currentAsk}}</div>
  <div class="answers" *ngIf="ask && ask.type !== 'FreeString'; else freeStringFormTemplate">
    <button mat-button (click)="poll(ask.id, answer.id)" [ngClass]="{
    'two-rep': ask.answers.length == 2,
    'more-than-three': ask.answers.length >=3,
    'more-than-five': ask.answers.length >= 5
     }"
            class="answerRep {{'color-' + i++ + ''}}"
            *ngFor="let answer of ask.answers; let i = index">{{answer.entitled}}</button>
  </div>
</div>

<ng-template #loading>
  <div class="loader-content">
    <span class="loader"><span class="loader-inner"></span></span>
  </div>
</ng-template>

<ng-template #freeStringFormTemplate>
  <form [formGroup]="freeStringForm" class="free-string-form" (ngSubmit)="onSubmit(ask.id)">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Votre mot</mat-label>
      <input matInput type="text" style="text-transform:uppercase" formControlName="resume" required>
      <mat-error *ngIf="resume.invalid">Un mot est requis (taille max = 20)</mat-error>
    </mat-form-field>
    <button class="submit-button" mat-raised-button color="primary" type="submit"
            [disabled]="resume.invalid">Valider
    </button>
  </form>
</ng-template>


