<div class="lobby-content" *ngIf="quiz$ | async as quiz; else loading">
  <div class="title">
    <div>{{quiz.name}}</div>
    <div>{{quiz.nbContributors}} Participants</div>
  </div>
  <div class="loader-subcontent">
    <div>
      <span class="loader-lobby"><span class="loader-inner-lobby"></span></span>
    </div>
  </div>
  <div class="form-content">
    <button class="start-button" mat-button (click)="leaveLobby(quiz.id)">QUITTER LA FILE D'ATTENTE</button>
  </div>
</div>
<ng-template #loading>
  <div class="loader-content">
    <span class="loader"><span class="loader-inner"></span></span>
  </div>
</ng-template>
