<div class="ask-content" *ngIf="quiz$ | async as quiz; else loading">
  <div *ngIf="showAnswers" class="poll-counter">{{quiz.asks[quiz.currentAsk].total_polling}} Réponses</div>
  <button *ngIf="showAnswers" class="timer" mat-fab>{{timeLeft2}}</button>
  <div class="header" *ngIf="!showAnswers">
    <h1>Question {{quiz.currentAsk}} / {{quiz.asks.length}}</h1>
    <mat-progress-bar mode="determinate" value="{{100 - (timeLeft / 4 * 100)}}"></mat-progress-bar>
  </div>
  <div class="ask">
    <div>{{quiz.asks[quiz.currentAsk].entitled}}</div>
  </div>
  <div class="answers" *ngIf="showAnswers">
    <button disabled mat-button class="answerRep {{'color-' + i++ + ''}}" *ngFor="let answer of quiz.asks[quiz.currentAsk].answers; let i = index" (click)="onClick">{{answer.entitled}}</button>
  </div>
</div>
<ng-template #loading>
  <div class="loader-content">
    <span class="loader"><span class="loader-inner"></span></span>
  </div>
</ng-template>
